
<div id="header" class="p-center" style="display:none;" itemscope itemtype="http://schema.org/People">
  <h1>Hi, I'm <a id="personal-name" itemprop="name">Kevin Kao</a>!</h1>
  <h6 itemprop="jobTitle">Software Engineer. UC Berkeley '16. Thinker. Designer.</h6>
</div>

<nav class="navbar navbar-default transparent" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="nav-about">About</a></li>
        <li><a id="nav-experience">Experience</a></li>
        <li><a id="nav-projects">Projects</a></li>
        <li><a id="nav-research">Research</a></li>
        <li><a id="nav-contact" data-toggle="modal" href="#contactModal">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/files/resume.pdf" target="_blank">Resume</a></li>
        <li>
          <a class='icon' href="http://www.github.com/kk415kk" target="_blank">
            <i class="fa fa-github" style='font-size:18px; line-height:18px;'></i>
          </a>
        </li>
        <li>
          <a class='icon' href="https://www.linkedin.com/pub/kevin-kao/20/741/260" target="_blank">
            <i class="fa fa-linkedin" style='font-size:18px; line-height:18px;'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="body-content">
</div>


<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="contactLabel"><b>Contact Kevin</b></h3>
      </div>

      <div class="modal-body">
        <p>This is under construction. In the meantime, please email me at <a>kkao[at]berkeley.edu</a> to contact me.</p>
        <form id='contact-form' method='POST'>
          <div class='form-group'>
            <label for='firstName'>First Name: </label>
            <input type='text' id='firstName' class='form-control' name='firstName'>
          </div>
          <div class='form-group'>
            <label for='lastName'>Last Name: </label>
            <input type='text' id='lastName' class='form-control' name='lastName'>
          </div>
          <div class='form-group'>
            <label for='emailAddress'>Email Address: </label>
            <input type='email' id='emailAddress' class='form-control' name='emailAddress'>
          </div>
          <div class='form-group'>
            <label>Type: </label>
            <br>
            <input type='radio' name='type' value='Job Opportunity' checked> Job Opportunity
            <br>
            <input type='radio' name='type' value='Other'> Other
          </div>
          <div class='form-group'>
            <label for='emailMessage'>Message: </label>
            <textarea rows="10" style='width:100%;'></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="submit" class="btn btn-success" value="Send" href="#" disabled><i class='fa fa-envelope push-right' style='font-size:15px;'></i>Send</a>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
  // Animate body content
  $('#header').fadeIn();
  displayAboutMe();

  // Navigation click handlers
  $('#personal-name').click(displayAboutMe);
  $('#nav-about').click(displayAboutMe);
  $('#nav-experience').click(displayExperience);
  $('#nav-projects').click(displayProjects);
  $('#nav-research').click(displayResearch);

  // Effects
});

function setActiveNav(element) {
  $('#nav-' + $('#body-content div:first-child').attr('id') + ':parent').removeClass('active');
  $('#nav-' + element + ':parent').addClass('active');
}

function displayAboutMe() {
  var text = "";
  text += "<div id='about' style='display:none;''>";
  text += "<div class='highlight-green'>";
  text += "<h2><i class='fa fa-rocket push-right' style='font-size:30px;'></i>About Me</h2>"
  text += "<hr>";
  text += "<p>I'm a third year undergraduate EECS major at University of California, Berkeley. I was born in San Jose, CA and spent most of my life in the Silicon Valley. Upon starting college, I've learned to truly appreciate the little quircks of CS theory and began my deep dive into computer science. I love tackling thought-provoking and challenging projects - I've worked on several on my own and in teams. I've found my intersts piqued by certain CS niches, including algorithms development and optimization, data analytics and machine learning, genomics, and security.</p>";
  text += "<p>Outside of work, I love indulging in and playing music (violin, piano, and guitar), as well as spending time in the great outdoors. I've played soccer for over 14 years, since I was 5, and I find running, biking, and volleyball to be enjoyable pastimes. I'm a huge fan of dogs (most animals, really), especially Siberian huskies. Recently, I've started dabbling in aquariums - not just fish but other aquatic creatures too. Keeping up with <a href='http://www.nytimes.com' target='_blank'>the cogs of the world</a> is a must for me, as well as exploring its nooks and crannies.</p>"
  text += "</div>"
  text += "</div>";
  setActiveNav('about');
  $('#body-content').html(text);
  $('#about').fadeIn();
  document.title = 'Kevin Kao - Home';
  $("a[rel^='prettyPhoto']").prettyPhoto();
  $(".owl-carousel").owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    items: 2,
    itemsDesktop : [1199,2],
    itemsDesktopSmall : [979,2],
    animateOut: true,
    animateIn: true,
    lazyLoad: true,
    autoplay: true
  });

  $('.fa-rocket').on('mouseover', function() {
    $('.fa-rocket').rotate({ angle: 0, animateTo: -45 });
  });
  $('.fa-rocket').on('mouseleave', function() {
    $('.fa-rocket').rotate({ angle: -45, animateTo: 0 });
  });
}

function displayExperience() {
  var text = "";
  text += "<div id='experience' style='display:none;'>";
  text += "<h2><i class='fa fa-pencil push-right' style='font-size:30px;'></i>Experience</h2>";

  text += "<div id='tech-skills' class='highlight-green'>"
  text += "<h3 id='tech-skills-header'>Technical Skills</h3>";
  text += "<hr>";
  text += "<p>I develop primarily in an UNIX environment, with a strong grasp of Python and Java as my go-to languages. I feel very comfortable using JavaScript and SQL, as well as HTML/CSS during web development.</p>";
  text += "<p>My proficiency in various technologies varies from time to time depending on what I'm working on, but in general, I'm a strong learner, so I can pick up (or remind myself of) technologies relatively easily. I've had past experience with all of the following:</p>";
  text += "<p><b>Programming Languages:</b> Java, Python, JavaScript, Ruby, SQL, C, C++, Bash, Scala, Datalog</p>"
  text += "<p><b>Databases:</b> MySQL, Redis, HBase</p>";
  text += "<p><b>Frameworks/Tools:</b> Git, Mercurial, Node.js, Sails.js, Flask, Rails, Hadoop, D3.js</p>";
  text += "<p><b>Data Analytics:</b> R, Pandas, MapReduce, Matlab, Spark, Caffe, UNIX command line (grep, find, cut, etc)</p>";
  text += "</div>"

  text += "<h3>Industry Experience</h3>";
  text += "<div class='row'>";

  text += "   <div class='col-md-6'>";
  text += "     <div class='grid-item'>";
  text += "     <h4>LinkedIn</h4>";
  text += "     <h6>Summer 2015</h6>";
  text += "     <h5>Software Engineering Intern</h5>";
  text += "     <p></p>";
  text += "     </div>";
  text += "   </div>"

  text += "   <div class='col-md-6'>"
  text += "     <div class='grid-item'>";
  text += "     <h4>LogicBlox, Inc</h4>";
  text += "     <h6>September 2014 - Present</h6>";
  text += "     <h5>Database Engineering Intern</h5>";
  text += "     <p></p>";
  text += "     </div>";
  text += "   </div>"

  text += "   <div class='col-md-6'>"
  text += "     <div class='grid-item'>";
  text += "     <h4>UC Berkeley</h4>";
  text += "     <h6>February 2014 - Present</h6>";
  text += "     <h5>Full Stack Research Intern</h5>";
  text += "     <p></p>";
  text += "     </div>";
  text += "   </div>";

  text += "   <div class='col-md-6'>"
  text += "     <div class='grid-item'>";
  text += "     <h4>AutoGrid Systems</h4>";
  text += "     <h6>May 2014 - August 2014</h6>";
  text += "     <h5>Software Engineering Intern</h5>";
  text += "     <p></p>";
  text += "     </div>";
  text += "   </div>";

  text += "   <div class='col-md-6'>"
  text += "     <div class='grid-item'>";
  text += "     <h4>Microsoft</h4>";
  text += "     <h6>December 2012 - January 2013</h6>";
  text += "     <h5>SDET Extern</h5>";
  text += "     <p></p>";
  text += "     </div>";
  text += "   </div>";

  text += "   <div class='col-md-6'>"
  text += "     <div class='grid-item'>";
  text += "     <h4>Paw for Paw</h4>";
  text += "     <h6>July 2011 - July 2013</h6>";
  text += "     <h5>Founder</h5>";
  text += "     <p></p>";
  text += "     </div>";
  text += "   </div>";
  text += "</div>";

  text += "</div>";
  setActiveNav('experience');
  $('#body-content').html(text);
  $('#experience').fadeIn();
  document.title = 'Kevin Kao - Experience';

  $('.fa-pencil').on('mouseover', function() {
    $('.fa-pencil').rotate({ animateTo: -60 });
  });
  $('.fa-pencil').on('mouseleave', function() {
    $('.fa-pencil').rotate({ animateTo: -10 });
  });
}

function displayProjects() {
  var text = "";
  text += "<div id='projects' style='display:none;'>";
  text += "<h2><i class='fa fa-code push-right' style='font-size:30px;'></i>Projects</h2>";
  text += "<p>Here is a sample list of projects I've worked on in the past or currently. To see my work-related projects, see <a class='no-href' onclick='displayExperience();'>Experience</a>. Some of my projects are hosted on my Github (see above) publicly - if you want to see a project of mine that isn't up, please contact me.</p>"
  text += "<form id='live-search' action='' class='styled' method='post'>"
  text += "<fieldset>"
  text += "<label>Search: </label>";
  text += "<input type='text' class='form-control' id='filter' value='' />"
  text += "<span id='filter-count'></span>"
  text += "</fieldset>"
  text += "</form>"
  text += "<br>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>scribble.ly</h4>";
  text += "<p>A single-page application that served as an URL shortener.</p>";
  text += "</div>";
  text += "</div>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>Brain Imaging Analytics</h4>";
  text += "<p>TBD</p>";
  text += "</div>";
  text += "</div>"

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>Node.js CAS Authentication Module</h4>";
  text += "<h6>April 2014 - September 2014</h6>";
  text += "<p>";
  text += "- Pioneered first open-source JavaScript CAS module specific to UC Berkeley’s auth. system, packaging for Node.js package manager<br>";
  text += "- Researched numerous CAS clients in Java, Perl, PHP, and Ruby in order to determine module necessities";
  text += "</p>";
  text += "</div>";
  text += "</div>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>SimpleDB Relational Database</h4>";
  text += "<h6>January 2014 - March 2014</h6>";
  text += "<p>";
  text += "- Implemented tuple, page, and heapfile representations and iterators to efficiently traverse and search for records <br>"; 
  text += "- Implemented the buffer pool with a STEAL/NO-FORCE policy <br>";
  text += "- Designed the database with transactions to allow concurrency at a page level, with locking to prevent race conditions <br>";
  text += "- Wrote sort-merge algorithm that efficiently selects satisfying records in O(n) time (input pages are sorted) <br>";
  text += "- Created histogram analytics to estimate the selectivity of predicates for use in the query optimization algorithm<br>";
  text += "- Designed a query optimization algorithm based on dynamic programming that enumerated a close-to-optimal query plan";
  text += "</p>";
  text += "</div>";
  text += "</div>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>Web & Linux Security Penetration Testing</h4>";
  text += "<h6>March 2014 - April 2014</h6>";
  text += "<p>";
  text += "- Performed reconnaissance on Ubuntu VM using nmap and netcat network tools to find security holes<br>"; 
  text += "- Penetrated into five user accounts on Ubuntu VM remotely via vulnerable FTP service with GDB stack analysis <br>";
  text += "- Wrote Python and Bash scripts to pipe hex data and perform buffer overflows, bypassing ASLR defenses for root shell access<br>";
  text += "- Scanned vulnerable C code, writing a Python and Ruby script to bruteforce RSA private key and spoof DNS packets to bypass SSL";
  text += "</p>";
  text += "</div>";
  text += "</div>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>Pacman</h4>";
  text += "<h6>February 2014 - May 2014</h6>";
  text += "<p>";
  text += "- Implemented uniform cost search, depth-first search, breadth-first search, greedy search , and A* graph search algorithms<br>";
  text += "- Developed smart Pacman that won 90% of games against adversarial ghosts using combination of graph search and mini-max trees<br>"
  text += "- Optimized for space and memory by using Bayes’ Nets and feature weight representations to perform a search for optimal policy";
  text += "</p>";
  text += "</div>";
  text += "</div>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>Image Metadata Parser</h4>";
  text += "<h6>February 2014 - February 2014</h6>";
  text += "<p>";
  text += "- Implemented a secure image metadata parsing algorithm in C that quickly parsed through chunks of hex to grab metadata<br>"; 
  text += "- Used a combination of gdb and Valgrind to perform checks on memory leaks <br>";
  text += "- Wrote numerous security test cases in hex to test the parser against malicious JPG and PNG files<br>";
  text += "- Performed fuzz testing with several randomly generated JPG and PNG files to ensure security";
  text += "</p>";
  text += "</div>"
  text += "</div>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>Image Filter</h4>";
  text += "<h6>November 2013 - November 2013</h6>";
  text += "<p>";
  text += "- Implemented a secure image metadata parsing algorithm in C that quickly parsed through chunks of hex to grab metadata<br>"; 
  text += "- Implemented fast image filter algorithm by means of convolution of a kernel matrix<br>";
  text += "- Utilized OpenMP library in C to exploit multi-threading for performance speed-ups of over 600%<br>";
  text += "- Exploited knowledge of Intel SSE intrinsics instructions and various compiler tricks to optimize program speed";
  text += "</p>";
  text += "</div>";
  text += "</div>";

  text += "<div class='grid-item'>";
  text += "<div class='project'>";
  text += "<h4>Text Analysis - MapReduce</h4>";
  text += "<h6>September 2013 - September 2013</h6>";
  text += "<p>";
  text += "- Utilized the Hadoop framework to process large documents and calculate word relationships on Amazon’s EC2 clusters <br>"; 
  text += "- Implemented efficient MapReduce algorithm through efficient selection and usage of data structures (Set, Hashtable, ArrayList) <br>";
  text += "- Benchmarked a speed of 51 seconds, less than half the time within the required two minutes (200% speedup)";
  text += "</p>";
  text += "</div>";
  text += "</div>";

  text += "</div>";
  setActiveNav('projects');
  $('#body-content').html(text);
  $('#projects').fadeIn();
  document.title = 'Kevin Kao - Projects';

  // Live search feature for projects page
  $("#filter").keyup(function(){
      if ($(this).val() == '') {
        $("#filter-count").html('');
        $(".project").each(function(){
          $(this).show();
        });
      } else {
        var start = new Date();
        var filter = $(this).val(), count = 0;
        $(".project").each(function(){
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
            } else {
                $(this).show();
                count++;
            }
        });
        var end = new Date();
        var timeDiff = ((end-start)/1000).toString();
        var numberItems = count;
        $("#filter-count").text("About " + count + " results. (" + timeDiff + " seconds)");
      }
  });
}

function displayResearch() {
  var text = "";
  text += "<div id='research' style='display:none;'>";
  text += "<h2><i class='fa fa-book push-right' style='font-size:30px;'></i>Publications</h2>";
  text += "<p>[1] Zachary Pardos, Kevin Kao. “moocRP: An Open-Source Learning Analytics Platform”. December 2014. LAS 2015.</p>"
  text += "<p>[2] Kevin Kao, Ananth Sub., Valerie Liu. “Machine Learning with fMRI Brain Images.” December 2014. CS194-16 BIDS Poster Session.</p>"

  text += "<h2><i class='fa fa-area-chart push-right' style='font-size:30px;'></i>Research</h2>";

  text += "<div class='grid-item'>"
  text += "<h3>Spectral Clustering on MOOC Learners</h3>";
  text += "<h5>December 2014 - Present</h5>";
  text += "<p>";
  text += "TBD"
  text += "</p>";
  text +="</div>"

  text += "<div class='grid-item'>"
  text += "<h3>Graph Theory: Fully Dynamic SCC Maintenance</h3>";
  text += "<h5>September 2014 - January 2015</h5>"
  text += "<p>As part of my work for LogicBlox, a smart database startup, I'm researching the implementation of a fully dynamic maintenance algorithm for strongly connected components of a graph under edge additions and deletions. Rather than statically recompute the SCCs of a graph after every small change, I'm aiming for an optimized, cutting-edge algorithm based off academic work in relevant areas, such as strong connectivity, point analysis, etc. There currently (as of the time of this writing) is no fully dynamic algorithm that can maintain strong components in sublinear time, but the goal is to combine the optimizations of subtle but similar problems and apply them to this open-ended problem.</p>";
  text += "<p>See my work on <a href='http://www.github.com/kk415kk/dynamic-scc-algorithm' target='_blank'>Github</a>.</p>";
  text += "</div>";

  text += "<div class='grid-item'>"
  text += "<h3>fMRI Vision Classification</h3>";
  text += "<h5>October 2014 - December 2014</h5>"
  text += "<p>Data science is a passion and interest of mine that I've only dabbled a little in in the past. To change that, I've begun working on exploring some BOLD response data (brain activation data) from the Gallant Labs to try to draw conclusions about a subject's brain activity in various ROI based on a stimulus image that the subject is viewing. Data exploration, data wrangling, and feature extractions were all part of the process of developing a good model. My work has yielded significant results with the binary classification models of determining which ROI would be most activated based on various statistics extracted from a Gabor filter bank applied on the stimulus image.";
  text += "<br><br>See my results below:";
  text += "<br><a href='/files/machine_learning_fmri_poster.pdf' target='_blank'>BIDS Poster</a>"
  text += "<br><a href='/files/machine_learning_fmri_report.pdf' target='_blank'>BIDS Report</a>"
  text += "</p>";
  text += "</div>";

  text += "<div class='grid-item'>"
  text += "<h3>MOOC Analytics: Data Driven Education</h3>"
  text += "<h5>February 2014 - Present</h5>"
  text += "<p>My research involves working with large data dumps, organizing and parsing through the JSON/XML data to generate clean, queryable data and then provide a platform for which analytics and visualizations on these datasets can be shared.</p>";
  text += "<p>The major project that I've been working on is <b>moocRP</b>. The Github repository can be found <a href='http://www.github.com/kk415kk/moocrp.git' target='_blank'>here</a>.</p>";
  text += "<p>I'm developing a full-scale web application to solve a widely unsolved problem of having a common platform to share data analytics among researchers with ease and efficiency. My project is guided by <a href='http://www.ischool.berkeley.edu/people/faculty/zacharypardos'>Professor Zachary Pardos</a>, joint professor of the Graduate School of Information and the Graduate School of Education at UC Berkeley. I also collaborated with several other groups and individuals, such as UC Berkeley D-Lab, MOOCLab, CAS and Calnet team, and researchers at other institutions. Essentially, one of the problems I'm tackling is the 'reproducible research' problem.</p>";
  text += "<p>Some of my accomplishments include:</p>";
  text += "<ul>" +
          "<li>Developed first set of open-source Python and UNIX scripts to allow researchers to fully utilize Stanford and Harvard data scrubbing scripts without spinning up OpenEdX instances or asking for proprietary code</li>" +
          "<li>Fully designed and developed a research platform to share data visualizations and analytics</li>" +
          "</ul>";
  text += "<p>Current features of my web platform include secure dataset downloads by a user permissions system, SSL, and CSRF-protection as well as data visualizations through D3.js and CAS authentication. Future goals include contributing to a C++ wrapper around Matlab for machine learning on datasets, possibly porting the code to Julia for distributed computing.</p>";
  text += "<div class='owl-carousel'>";
  text += "<div class='item-wrap'><div class='item'><a rel='prettyPhoto' href='/images/moocrp_1.png' target='_blank'><img src='/images/moocrp_1.png' height=220></a></div></div>";
  text += "<div class='item-wrap'><div class='item'><a rel='prettyPhoto' href='/images/moocrp_3.png' target='_blank'><img src='/images/moocrp_3.png' height=220></a></div></div>";
  text += "<div class='item-wrap'><div class='item'><a rel='prettyPhoto' href='/images/moocrp_2.png' target='_blank'><img src='/images/moocrp_2.png' height=220></a></div></div>";
  text += "<div class='item-wrap'><div class='item'><a rel='prettyPhoto' href='/images/moocrp_4.png' target='_blank'><img src='/images/moocrp_4.png' height=220></a></div></div>";
  text += "</div>";
  text += "</div>";

  text += "</div>";

  setActiveNav('research');
  $('#body-content').html(text);
  $('#research').fadeIn();
  document.title = 'Kevin Kao - Research';
  $("a[rel^='prettyPhoto']").prettyPhoto();
  $(".owl-carousel").owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    items: 2,
    itemsDesktop : [1199,2],
    itemsDesktopSmall : [979,2],
    animateOut: true,
    animateIn: true,
    lazyLoad: true,
    autoplay: true
  });
}
</script>
