body {
  font-family: 'Raleway', sans-serif;
  background-color: #42bdc2;
  color: white;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  color: #777;
  background-color: white;
  opacity: 0.85;
  filter: alpha(opacity=85); /* For IE8 and earlier */
}

h1 {
  font-family: 'Montserrat', 'Raleway', 'Ubuntu', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'Ubuntu', sans-serif;
}

a {
  color: #236B8E;
}

a:hover {
  color: #074e68;
}

#main {
  margin-bottom: 100px;
}

/* Center horizontally regardless of parent div */
.p-center {
  bottom: 0; left: 0; top: 0; right: 0;
  margin: auto auto auto auto;
  width: 500px;
  text-align: center;
}

/* Center horizontally within parent div*/
.d-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* Transparency for the background */
.transparent {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.push-down-sm {
  margin-top: 25px;
}
.push-down-md {
  margin-top: 50px;
}
.push-down-la {
  margin-top: 100px;
}

/* Navbar */
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

ul.nav li a {
  cursor: pointer;
}

ul.nav li:hover {
  border-bottom: 2px solid #00a200;
  margin-bottom: -2px;
}

nav .active {
  border-bottom: 2px solid #00a200;
  margin-bottom: -2px;
}

nav .active a {
  font-weight: bold;
}

/* Modals */
.modal {
  color: teal;
}

.modal p {
  color: black;
}

/* Header */
a#personal-name {
  /*color: #5eb95e;*/
  color: teal;
  font-size: 45px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;

  opacity: 0.85;
  filter: alpha(opacity=85); /* For IE8 and earlier */
  transition: all 0.5s ease;
}

a#personal-name:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  text-decoration: none;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
  background-color: teal;
}

/* Buttons */

/* Forms */
.input-group-addon label {
  margin: 0;
}

form, form label, form input {
  color: black;
}

/* OWL Carousel */
.owl-theme .owl-controls .owl-nav [class*=owl-],
.owl-theme .owl-dots .owl-dot.active span,
.owl-dot span, .owl-dot:hover span, .owl-prev, .owl-next {
  background-color: #5eb95e;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #71cf71;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: white;
}

.item-wrap {
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.90;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  transition: all 0.5s ease;
}

.item-wrap:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Icons */
.push-right {
  margin-right: 10px;
}

.no-block {
  display: inline;
}

.no-href {
  cursor: pointer;
}

div.indent {
  margin-left: 15px;
}

img.logo {
  height: 50px;
  padding: 5px;
  background-color: white;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Miscellaneous */
#live-search label, #filter-count {
  color: white;
}

.highlight-white {
  padding: 10px 30px;
  border-radius: 10px;
  border: 5px transparent solid;
}

.highlight-green {
  padding: 10px 30px;
  padding-top: 20px;
  background-color: #5eb95e;
  border-radius: 10px;
  border: 5px white solid;
}

.grid-item p {
  margin-top: 10px;
}

.grid-item {
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: teal;
  border-radius: 5px;
  border: 5px white solid;
  transition: all 0.5s ease;
}

.grid-item:hover {
  cursor: pointer;
  background-color: #079191;
}

.grid-item a {
  color: #4e5361;
}

#hidden,
.hidden {
  display: none;
}


@media screen and (max-width: 500px) {
  a#personal-name {
    display: block;
  }
  #header {
    bottom: 0; left: 0; top: 0; right: 0;
    margin: auto auto auto auto;
    width: 300px;
    text-align: center;
  }
}

/*@media (max-width: 1320px) { 
  .pull-right { clear: none; display: inline; float: left!important; }
}*/